.profile__edit-button {
  background-image: url(../../../images/edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  box-sizing: border-box;
  border: 1px solid #fff;
  width: 18px;
  height: 18px;
}