.button_type_edit-profile {
  background-image: url(../../../images/edit-icon.svg);
  background-color: #000;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}

.button_type_edit-profile:hover {
  opacity: .6;
}

@media (max-width: 425px) {
  .button_type_edit-profile {
    width: 18px;
    height: 18px;
  }
}