.button_type_like {
  border: none;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-icon.svg);
  background-size: contain;
  overflow: visible;
}

.button_type_like:hover {
  opacity: .5;
}