.profile__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: 350px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 725px) {
  .profile__description {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
  }
}