.gallery__like-button {
  border: none;
  width: 22px;
  height: 18px;
  background-image: url(../../../images/like-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: visible;
  transition-duration: .3s;
  cursor: pointer;
}

.gallery__like-button:hover {
  opacity: .5;
}